<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.futurearts.hiltonnewproj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.futurearts.hiltonnewproj.AppClass"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_hilton"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.futurearts.hiltonnewproj.activities.ZoomImageViewActivity"/>
        <activity android:name="com.futurearts.hiltonnewproj.activities.SearchResultActivity" />
        <activity android:name="com.futurearts.hiltonnewproj.activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.jobcompletion.JobCompletionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.materialissue.MaterialIssueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.ScannerActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.PortraitCaptureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity android:name="com.futurearts.hiltonnewproj.activities.CameraActivity" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.futurearts.hiltonnewproj.activities.BarcodeSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />

        <activity android:name=".activities.PartNumberSearchActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.batchcontrol.BatchControlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.jobcompletion.JobCompletionMenu"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.batchcontrol.BatchControlMenu"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.materialissue.MaterialIssueMenu"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.batchcontrol.BatchControlSearchActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.materialissue.FactoryDataActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.materialissue.CompletedActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.materialissue.EmailJobsActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>